<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Interface Web Raspberry Pi</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>

    <div class="distance-layout">
        <div class="row align-items-center">
            <div class="col">
                <div id="left" class="distance-label">Gauche: 0 cm</div>
            </div>
            <div class="col">
                <div class="rectangle-wrapper">
                    <div class="rectangle"></div>
                    
                </div>
            </div>
            <div class="col">
                <div id="right" class="distance-label">Droite: 0 cm</div>
            </div>
        </div>
        
    
        
    
        <div id="back" class="distance-label">Arrière: 0 cm</div>
    </div>
    
    <div class="sliders">
        <div class="slider-container">
            <h3>Gauche / Droite</h3>
            <input type="range" min="0" max="100" value="50" class="slider" id="slider-x">
            <label>Valeur : <span id="value-x">50</span></label>
        </div>

    
        <div class="slider-container">
            <h3>Haut / Bas</h3>
            <input type="range" min="0" max="100" value="50" class="slider vertical" id="slider-y" orient="vertical">
            <label>Valeur : <span id="value-y">50</span></label>
        </div>
    </div>
    <!-- <div class="container">
        <h1>Envoyer un message au Raspberry Pi</h1>
        <form method="POST" id="messageForm">
            <input type="text" name="message" id="messageInput" placeholder="Ton message..." required>
            <button type="submit">Envoyer</button>
        </form>
        {% if message %}
            <p class="response">Message reçu : <strong>{{ message }}</strong></p>
        {% endif %}
    </div> -->
    
</body>
</html>
